{:paths   ["src/clj"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.3"}
           http-kit/http-kit   {:mvn/version "2.5.3"}}
 :aliases {:uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.297"}}
                     :exec-fn hf.depstar/uberjar
                     :exec-args  {:aot        true
                                  :compile-ns [hello-graal.server]
                                  :main-class "hello-graal.server"}
                     :jvm-opts   ["-Dclojure.compiler.direct-linking=true"
                                  "-Dclojure.spec.skip-macros=true"]}}}
