{:paths   ["src/clj" "resources"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.1"}
           http-kit            {:mvn/version "2.3.0"}}
 :aliases {:dev {:extra-paths ["src/dev"]
                 :extra-deps  {org.clojure/tools.namespace {:mvn/version "0.3.0-alpha4"}}}}}
